body {
    background-color: #000;
    padding: 0px;
    margin: 0px;
    color: #fff;
    height: 200vh;
    cursor: url("res/ARUC_LQCOA.png") 8 8, auto;
}

#a-nav {
    position: fixed;
    background-color: #222;
    top: -75px;
    height: 75px;
    width: calc(100vw - 10px);
    font-family: 'Felix';
    list-style-type: none;
    font-size: 16px;
    margin: 0px;
    translate: 0 0 100;
    z-index: 1;
    cursor: url("res/ARUC_LQCOA.png") 8 8, auto;
}

#little {
    padding: 0;
    margin: 0;
    font-size: 37.5px;
    position: float;
}

.nav-li {
    color: #fff;
    display: inline;
    position: relative;
    float: left;
    font-size: 23px;
    padding: 23px;
}

#logoshell {
    width: 125px;
    padding: 18px;
}

@font-face {
    font-family: 'Felix';
    src: url('res/ttf/Felixti.TTF');
}

@keyframes glow {
    from {
        text-shadow: 0 0 10px #000, 0 0 20px #000, 0 0 30px #1700e6, 0 0 40px #1700e6, 0 0 50px #1700e6, 0 0 60px #1700e6, 0 0 70px #5800e6;
    }

    to {
        text-shadow: 0 0 20px #000, 0 0 30px #000, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}

@keyframes sway {
    from {
        transform: rotate(-5deg) scale(1);
    }

    to {
        transform: rotate(5deg) scale(1.1);
    }
}

@keyframes in {
    from {
        opacity: 0%;
        transform: translateY(75px);
    }

    to {
        opacity: 100%;
        transform: translateY(0px);
    }
}

a {
    text-decoration: none;
    color: #fff;
    cursor: url("res/ARUC_LQCOA.png") 8 8, auto;
}

.nav-li:hover {
    text-decoration: none;
    color: #fff;
    animation: sway 0.75s ease-in-out infinite alternate;
    background-color: #444;
    cursor: url("res/ARUC_LQCOA.png") 8 8, auto;
}

#page-content {
    opacity: 100%;
    position: relative;
    margin: 10px;
    margin-top: 75px;
    padding: 10px;
    opacity: 0%;
    animation: in 1s ease-in-out 2s;
}

#logo {
    text-align: center;
    font-family: 'Felix';
    font-size: 125px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: glow 1s ease-in-out infinite alternate;
    padding: 18px;
}

.img {
    padding: 15px;
    display: inline;
    position: relative;
    width: 50px;
    height: 50px;
    float: right;
    align-items: center;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #444;
}

::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: #fff;
    box-shadow: #222 0 0 5;
}

::selection {
    background-color: #222;
    text-shadow: 0 0 1px #000, 0 0 3px #000, 0 0 5px #dd0022, 0 0 7px #dd0022, 0 0 8px #dd0022, 0 0 9px #dd0022, 0 0 10px #dd0022;
}

h1 {
    font-family: 'Felix';
    text-align: center;
}